:root {
    --light-grey: #F0F0F0;
    --light-grey-text: #DDDDDD;
    --grey-text: #5C5C5C;
    --dark-grey: #3F3D3D;
    --dark-shadow: #BABECC;
    --green: #28D979;
    --dark-green-text: #149063;
    --white: #FFFFFF;
    --black: #000000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    line-height: 104%;
}

main {
    max-width: 596px;
    margin: 1% auto;
}

.container {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.container > div:not(.extra-box), .interests {
    padding: 12px;
    background-color: var(--light-grey);
    border-radius: 12px;
    min-width: 124px;
}

/*Avatar*/
img.avatar {
    height: 124px;
    border-radius: 12px;
}

/*Name Box*/
.name-box {
    width: 124px;
    height: 124px;
}

.name-box > p, .name-box .job-title {
    line-height: 150%;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

/*Languages Box*/
.languages-box {
    height: 124px;
    flex-grow: 1;
}

.languages {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 17px;
}

.level-languages {
    width: 100%;
}

.name-languages > p {
    font-weight: 400;
    margin-bottom: 10px;
}

.scale {
    width: 100%;
    height: 11px;
    margin-bottom: 10px;
}

.level {
    background-color: var(--green);
    height: 100%;
    border-radius: 3px;
}

.first-level {
    width: 100%;
}

.second-level {
    width: 75%;
}

.third-level {
    width: 5%;
}

/*Education Box*/
.education-box {
    max-width: 268px;
}

.education-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
}

.education-unit {
    width: 116px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--white);
    border-radius: 10px;
    padding: 8px;
    line-height: 150%;
}

.education-hashtags, .education-place {
    font-weight: 300;
}

.education-hashtags {
    color: var(--dark-green-text);
    font-size: 8px;
}

/*Extra Box*/
.extra-box {
    width: 267px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    max-width: 268px;
}

.interests-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.interests-content span {
    background-color: var(--white);
    padding: 4px 10px;
    border-radius: 40px;
    font-weight: 300;
    line-height: 150%;
}

.contact {
    height: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: 12px;
    border-radius: 12px;
}

.contact-info {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.contact-info span {
    font-weight: 300;
    color: var(--light-grey-text);
}

/*Tools Box*/
.tools-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.tools-unit {
    text-align: center;
}

.tools-unit span {
    background-color: var(--black);
    color: var(--white);
    margin: 0 auto;
    padding: 2px 6px;
    border-radius: 59px;
    position: relative;
    top: 5px;
}

.tools-content-unit {
    width: 76px;
    background-color: var(--white);
    border-radius: 6px;
    padding: 16px 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    z-index: 10;
}

/*Experience Box*/
.experience-box {
    flex-grow: 1;
}

.experience-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.experience-content-unit {
    background-color: var(--white);
    border-radius: 10px;
    padding: 12px;
    text-align: center;
}

.experience-content-unit p {
    font-weight: 500;
}

/*Other*/
button {
    width: 120px;
    padding: 10px;
    margin: 12px calc(50% - 60px) 10px;

    background-color: var(--dark-grey);
    color: var(--white);
    border: 0;
    border-radius: 12px;
    box-shadow: 0 5px 0 var(--black);

    font-size: 10px;
    font-family: inherit;
    font-weight: 300;
    line-height: inherit;
    letter-spacing: 1px;

    cursor: pointer;
}

.focus-button {
    background: var(--black);
    box-shadow: none;
    position: relative;
    top: 5px;
}

textarea {
    border: none;
    font-family: inherit;
    font-size: 10px;
    line-height: inherit;
    resize: none;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    background-color: transparent;
}

textarea:focus {
    outline: none;
    border:1px solid var(--dark-green-text);
}

h3 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 150%;
}

h4 {
    font-weight: 500;
}

.last-unit {
    background-color: var(--green);
    color: var(--white);
}

.last-unit .education-hashtags {
    color: var(--white);
}

.name-box, .education-unit, .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bold-text {
    font-weight: 600;
    font-style: normal;
}

.gray-text {
    color: var(--grey-text);
}

.larger-text {
    font-size: 12px;
}

.large-text {
    font-size: 14px;
}

.ripple {
    animation: ripple 1.5s linear;
    transition: all ease 0.8s;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(20, 144, 99, 0.3),
        0 0 0 1px rgba(20, 144, 99, 0.3),
        0 0 0 3px rgba(20, 144, 99, 0.3),
        0 0 0 5px rgba(20, 144, 99, 0.3);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(20, 144, 99, 0.3),
        0 0 0 4px rgba(20, 144, 99, 0.3),
        0 0 0 20px rgba(20, 144, 99, 0),
        0 0 0 30px rgba(20, 144, 99, 0);
    }
}